<a href="https://colab.research.google.com/github/rocks2021/exploring_mars_through_images/blob/main/range_for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://pythonnumericalmethods.berkeley.edu/notebooks/Index.html

Python variable:   
When you assign a value ot a variable, you create a variable in Python.   
The command a=3 means that I create a variable a which is assoriated with the value 3.   
Python is case sensitive. a and A are different variables.

In [1]:
# When you assign a value to a variable you create a variable in Python.

a = 7 # one variable
b = 11 # another variable
print(a)
print(b)

c = a + b #new variable
print(c)

7
11
18

In [2]:
# The equal sign in progrmming is not the same as a truth statement in math.   
# In programming, x=2 means a known value, 2 is associated with a variable name, x.

z = 1
print (z)
z = 7
print(z)

1
7

In [3]:
# The value stored in a variable is the last one assigned to it. 
# The initial value is lost once the second assignment to the value is evaluated. 

z

7

In [4]:
z = z + 1
print(z)

8

A list is a way to group element into a single object.   
After defining a list, you can retrive each item of the list one by one, or add new ones...

In [5]:
#A list can be a list of integers or a list of strings.

L1 = [1,2,3,4,5,6,7]
L2 = ["A","B","C"]
L3 = [] #mepty list, extremely useful!

In [6]:
#To get an item in the list, use L[i] where i is the rank of the item. you start counting from 0.

L1[0]

1

In [7]:
L2[2]

'C'

In [8]:
#The length of a list is the number of elements it contains.

len(L1)

7


The Python for loop is the easiest way to repeat doing something.   

A for Loop is used to repeat a specific block of code a known number of times.   

Note that what delimits the block of instructions to be repeated is indentation, i.e. the spaces at the beginning of each line that shift the lines to the right. All lines in a block must have exactly the same indentation.    

Don't forget the colon at the end of the line of the for declaration.

In [9]:
L = ['a','b','c','d']

for i in L:
  print(i)

a
b
c
d

In [10]:
L = [1,3,5,7]

for i in L:
  print(i+1) # indented block of code will be repeated 4 times.
print(i+2) # program continuation

2
4
6
8
9

Python range() Function   
The rang() function is a built-in function in Python. The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 by default, and stops before a specified number.   

range(start, stop, step)   
start: Optional. An integer number specifying at which position to start. Default is 0.   
stop: Required. An integer number specifying at which postion to stop (not included).   
step: Optional. An integer number specifying the incrementation. Default is 1.

In [11]:
for i in range(3):
  print(i)

0
1
2

In [12]:
list(range(3))

[0, 1, 2]

In [13]:
#Print a squence of numbers from 1 to 7, and print each item in the sequence.

z = range(1,8)
for i in z:
  print(i)

1
2
3
4
5
6
7

In [14]:
#Create a sequence of numbers from 11 to 17, and print each item in the sequence.

z = range(11, 18)
for i in z:
  print(i)

11
12
13
14
15
16
17

In [15]:
#Create a sequence of numbers from 7 to 19, increment by 2.

z = range(7, 20, 2)
for i in z:
  print(i)

7
9
11
13
15
17
19

In [16]:
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(10, 3, -1))

[10, 9, 8, 7, 6, 5, 4]

In [18]:
list(range(3,10,2))

[3, 5, 7, 9]

In [19]:
# Create a loop that displays the squares of the first ten integers.

for i in range(10):
  print(i*i)

0
1
4
9
16
25
36
49
64
81

In [20]:
# Create a loop that displays the cube of the first seven prime numbers.

for i in [2,3,5,7,11,13,17]:
  print(i**3)

8
27
125
343
1331
2197
4913

In [21]:
# Create a loop that displays the cubes of integers from 0 to 100.

for i in range(101):
  print (i**3)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000

In [22]:
# Create a loop that calculates the sum: 1^2 + 2^2 +3^2 +... + i^2 +... + 40^2

n = 40
total = 0
for i in range(n+1):
  total = total + i**2
print(total)

22140

In [23]:
# Use the Python range() function and for loop to write a program that calculates 0+1+2+3+4+5+6+7.
# A variable total is initialized at 0. Then we will add 0, then 1, then 2...

total = 0
for i in range(8):
  total = total + i
print(total)

28